<%= turbo_frame_tag dom_id(entry), class: "table-row even:bg-blue-100" do %>

<%= link_to edit_entry_path(entry), class: "contents" do %>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= entry.cleared %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >

    <%= entry.category_name || "Transfer"%>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= as(entry.entry_date, :date) %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= entry.check_number %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= entry.transfer_account ? entry.transfer_account.name : entry.payee %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= entry.memo %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= as(entry.inflow, :money) %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= as(entry.outflow, :money) %>
</div>
<div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= as(entry.balance, :money) %>
</div>
<% end %>

<div class="table-cell">
 <%= link_to 'Delete', entry_path(entry), method: :delete,  data: {turbo_frame: "_top",  turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-small" %>
</div>
<%= render partial: "shared/flash" %>

<% end %>
