<div data-controller="report">

  <div id="message-area" class="my-5"></div>
  <%= form_with action: :index, method: :get do |form| %>

  <%#= form_with url: "/", method: :get do |form| %>
    <div>
      <%= form.label :query, "Date Range:" %>
    </div>
    <div>
      <%= form.date_field :date_after, value: params[:date_after] %>
      <%= form.date_field :date_before, value: params[:date_before] %>
    </div>
    <div>
      <%= form.label :query, "Amount Range:" %>
    </div>
    <div>
      <%= form.number_field :amount_greater_than, in: -1000000..100000, step: 0.01,value: params[:amount_greater_than]%>
    </div>
    <div>
      <%= form.number_field :amount_less_than, in: -1000000..1000000, step: 0.01, value: params[:amount_less_than] %>
    </div>
    <div>
      <%= form.label :query, "Payee" %>
    </div>
    <div>
      <%= form.text_field :payee_contains, value: params[:payee_contains] %>
    </div>
    <div>
      <%= form.label :query, "Check Range" %>
    </div>
    <div>
      <%= form.number_field :check_after, in: 1..90000 , step: 1, value: params[:check_after] %>
    </div>
    <div>
      <%= form.number_field :check_before, in: 1..90000 , step: 1, value: params[:check_before] %>
    </div>
    <div>
      <%= form.label :query, "Category" %>
    </div>
    <div>
      <%= form.collection_select :category_is, Category.order(:name), :id, :name, { include_blank: 'Category_Filter' }, value: Category.where(id:params[:category_is]).first %>
    </div>
    <div>
      <%= form.submit "Filter" , class: 'btn-small'%>
      <%= link_to "Clear", url, class: "btn-small flex-nowrap" %>
    </div>

  <% end %>

</div>
