<%= form_with(model: entry, class: "contents", data: { turbo_frame: "_top"})  do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :account %>
    <% if !@entry.account %>
    <%= form.collection_select :account_id, Account.all, :id, :name, class: "basic-field" %>
    <% else %>
    <%= form.collection_select :account_id, [@entry.account], :id, :name, class: "basic-field" %>
    <% end %>
  </div>


  <div class="my-5">
    <%= form.label :entry_date %>
    <%= form.date_field :entry_date, class: "basic-field" %>
  </div>

  <div class="my-5">
    <%= form.label :check_number %>
    <%= form.number_field :check_number, class: "basic-field px-3" %>
  </div>

  <div class="my-5">
    <%= form.label :payee %>
    <%= form.text_field :payee, class: "basic-field" %>
  </div>
  <% if !entry.transfer_entry %>
   <div class="my-5">
     <%= form.label :category %>
     <%= form.collection_select :category_id, Category.order(:name),:id, :name , include_blank: true, class: "basic-field" %>
   </div>
  <% end %>
  <% if !entry.category %>
  <div class="my-5">
   <%= form.label :transfer_account_id %>
   <%= form.number_field :transfer_account_id, class: "basic-field" %>
  </div>
  <% end %>
  <div class="my-5">
    <%= form.label :inflow %>
    <%= form.text_field :inflow, class: "basic-field" %>
  </div>
  <div class="my-5">
    <%= form.label :outflow %>
    <%= form.text_field :outflow, class: "basic-field" %>
  </div>

 <div class="inline">
    <%= form.submit class: "btn-small" %>
  </div>
  <div class="inline">
    <%= link_to "Cancel", account_url(@entry.account), data: { turbo_frame: "_top"}, class: "btn-small" %>
  </div>
<% end %>
