<div data-controller="entry">

<%= form_with(model: entry, class: "contents", data: { turbo_frame: "_top"})  do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <% if !entry.account %>
    <%= form.collection_select :account_id, Account.all, :id, :name, class: "basic-field" %>
    <% else %>
    <%= form.collection_select :account_id, [entry.account], :id, :name, class: "basic-field" %>
    <% end %>
  </div>


  <div class="my-5">
    <%= form.date_field :entry_date, class: "basic-field" %>
  </div>

  <% if entry.account.has_checking %>
  <div class="my-5">
    <%= form.number_field :check_number, placeholder: "Check Number", class: "basic-field px-3" %>
  </div>
  <% end %>

  <div class="my-5">
    <%= form.text_field :payee, placeholder: "Payee",
        data: {action: "entry#on_set_payee"},
        class: "basic-field" %>
  </div>
   <div class="my-5">
     <%= form.collection_select :category_id, Category.order(:name),:id, :name ,
              {include_blank: "Select Category"},
              {data: {action: "entry#on_set_category"}, class: "basic-field"}
               %>
   </div>
 <div class="my-5">
   <%= form.collection_select :transfer_account_id,
        Account.order(in_menu: :asc).where.not(id: entry.account_id), :id, :name,
        {include_blank: "Select Transfer Account"},
        {data:{action: "entry#on_set_transfer"}, class: "basic-field"} %>
  </div>
  <div class="my-5">
    <%= form.number_field :inflow, placeholder: "Inflow", in: 0.01..1000000.99, step: 0.01,
        data: {action: "entry#on_set_inflow"},
         class: "basic-field" %>
  </div>
  <div class="my-5">
    <%= form.number_field :outflow, placeholder: "Outflow",in: 0.01..1000000.99, step: 0.01,
    data: {action: "entry#on_set_outflow"},
    class: "basic-field" %>
  </div>

 <div class="inline">
    <%= form.submit class: "btn-small" %>
  </div>
  <div class="inline">
    <%= link_to "Cancel", account_url(entry.account), data: { turbo_frame: "_top"}, class: "btn-small" %>
  </div>
<% end %>
</div>
