<div class="table table-auto w-full">
  <div class="table-header-group">
    <div class="table-row bg-blue-100">
      <% display_columns.each do |column_info| %>
        <div class="table-cell px-2 py-4 test-left font-bold inline">
            <%= sort_indicator if params[:column] == column_info[:column] %>
            <%= sort_link(column_info[:label].titleize, column_info[:column]) %>
       </div>
      <% end %>
      <div class="table-cell px-2 py-4 text-transparent">EDIT</div>
      <div class="table-cell px-2 py-4 text-transparent">DELETE</div>

    </div>
  </div>

  <div class="table-row-group">
    <% records.each do |rec| %>
      <div class="table-row even:bg-blue-100">
        <% display_columns.each do |column_info| %>
          <div class="table-cell overflow-y-scroll px-2 py-1" >
            <%= rec.send(column_info[:model_method]) %>
          </div>
        <% end %>
        <div class="table-cell">
          <%= link_to 'edit', url_for([:edit, rec]), data: {turbo_frame: "_top"}, class: "btn-small"%>
        </div>
        <div class="table-cell">
         <%= link_to 'delete', url_for(rec), method: :delete,  data: {turbo_frame: "_top",  turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-small" %>
        </div>
      </div>
    <% end %>

  </div>
  <% content_for :right do %>

    <div>
       <%= render :partial => '/shared/filters', :locals => {model: records.model} %>
    </div>
  <% end %>
</div>
