 <%= turbo_frame_tag dom_id(category), class: "table-row even:bg-blue-100" do %>
  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= category.name %>
  </div>
  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= category.active %>
  </div>
  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= category.super %>
  </div>
  <div class="table-cell">
    <%= link_to 'Show', url_for(category), data: {turbo_frame: "_top"}, class: "btn-small"%>
  </div>
  <div class="table-cell">
    <%= link_to 'Edit', url_for([:edit, category]), class: "btn-small"%>
  </div>
  <div class="table-cell">
   <%= link_to 'Delete', url_for(category), method: :delete,  data: {turbo_frame: "_top",  turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-small" %>
  </div>
  <%= render partial: "shared/flash" %>
<% end %>
