<%= form_with(model: category, class: "contents", data: {turbo_frame: "_top"}) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "basic-field" %>
  </div>

  <div class="my-5">


    <% if category.id.nil? %>
      <%= form.label :category %>
      <%= form.collection_select :category_id, Category.order(:name).where(category_id: nil), :id, :name, include_blank: true, class: "basic-field"%>
    <% elsif !category.category.nil? %>
      <%= form.label :category %>
      <%= form.collection_select :category_id, Category.order(:name).where(category_id: nil).where.not(id: category.id), :id, :name,
    class:  "basic-field"%>
    <% end %>
  </div>


  <div class="inline">
    <%= form.submit class: "btn-small" %>
  </div>
  <div class="inline">
    <%= link_to "Cancel", categories_url, data: { turbo_frame: "_top"}, class: "btn-small" %>
  </div>

<% end %>
