<%=turbo_frame_tag dom_id(category), class: "contents" do %>
  <%= form_with(model: category, class: "table-row contents") do |form| %>
    <div class="table-cell">
        <%= form.text_field :name, class: "basic-field" %>
    </div>
    <div class="table-cell">
      <%= form.check_box :active, class: "" %>
    </div>
    <div class="table-cell">
      <% if category.categories.count == 0 %>
        <%= form.collection_select :category_id, Category.order(:name).where(category_id: nil).where.not(id: category.id),:id, :name ,{include_blank: "Select Category"} %>
      <% end %>
    </div>
    <div class="table-cell">
      <%= form.submit "Save", class: "btn-small" %>
    </div>
    <div class="table-cell">
      <%= link_to "Cancel", request.referrer, data: { turbo_frame: "_top"}, class: "btn-small" %>
    </div>
  <% end %>

  <%= turbo_stream.append "flash" do %>
    <% category.errors.each do |error| %>
      <div class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"><%= error.full_message %></div>
    <% end %>
  <% end %>
<% end %>
