  <div class="table table-auto w-full">
    <div class="table-header-group">
      <div class="table-row bg-blue-100">
        <div class="table-cell px-2 py-4 test-left font-bold inline">
          <%= sort_indicator if params[:column] == "name" %>
          <%= sort_link("Name", "name") %>
        </div>
        <div class="table-cell px-2 py-4 test-left font-bold inline">
          <%= sort_indicator if params[:column] == "active" %>
          <%= sort_link("Active", "active") %>
        </div>
        <div class="table-cell px-2 py-4 test-left font-bold inline">
          <%= sort_indicator if params[:column] == "categories_categories.name" %>
          <%= sort_link("Super", "categories_categories.name") %>
        </div>
        <div class="table-cell px-2 py-4 text-transparent">EDIT</div>
        <div class="table-cell px-2 py-4 text-transparent">EDIT</div>
        <div class="table-cell px-2 py-4 text-transparent">DELETE</div>
      </div>
    </div>

    <div class="table-row-group" id="table-list">

    <%= turbo_frame_tag "categories", id:"categories", class:"min-w-full contents" do %>
        <%= turbo_frame_tag "new_category", class: "contents" %>
        <%= render categories %>
     <% end %>
   </div>
 </div>

      <div id="pager" class="min-w-full my-8 flex justify-between">
        <div>
          <% if pagy.prev %>
            <%= link_to "< Previous page", url_for(params.permit!.merge(page: @pagy.prev)), class: "btn-primary" %>
          <% end %>
        </div>
        <div class="text-right">
          <% if pagy.next %>
            <%= link_to "Next page >", url_for(params.permit!.merge(page: @pagy.next)), class: "btn-primary" %>
          <% end %>
        </div>
      </div>
