<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <header>
      <div class="container mx-auto">
        <nav>
          <ul class="nav navbar-nav navbar-right flex">
            <%= render "shared/top_menu" %>

          </ul>
        </nav>
      </div>
    </header>
    <div class="container mx-auto">
      <div class="flex flex-row flex-wrap py-4">

        <turbo-frame id="flash">
          <%= render 'shared/flash' %>
        </turbo-frame>
        <main role="main" class="w-full  pt-1 px-2 ml-10">
          <div class="flex flex-row">

            <div class="  basis-3/4">
              <%= yield %>
              <%= turbo_frame_tag "modal" %>
            </div>

            <div class="mx-10 my-10">
              <%= yield :right %>
            </div>
          </div>

        </main>
      </div>
    </div>
  </body>
</html>
