<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :title %>

    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.2">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100 text-sm ml-5 lg:ml-10  lg:text-base grid grid-rows-auto">
    <header>
      <div class="">
        <%= render "shared/top_menu" %>

      </div>
    </header>
    <div class="">
      <div class="py-4">
        <div id="flash"></div>
          <main role="main" class="grid grid-cols-10 lg:gap-x-3">
            <div class="col-span-10 text-2xl lg:text-3xl font-bold mb-3 justify-self-center">
                <div >
                  <%= yield :title %>
                </div>
            </div>
            <div class="col-span-10">
              <%= yield %>
              </div>
              <
              </main>
            </div>
          </div>
        </body>
      </html>
