<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= "#{Rails.env[0..2].upcase}: #{request.env['PATH_INFO'].gsub(/[\d\/]/,"").upcase}" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1.2">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100">
    <header>
      <div class="container mx-auto">
        <nav>
          <ul class="nav navbar-nav navbar-right flex">
            <%= render "shared/top_menu" %>

          </ul>
        </nav>
      </div>
    </header>
    <div class="mx-auto">
      <div class="py-4">

        <div id="flash">
        </div>
        <main role="main" class="pt-1 px-2 ml-10">

            <div class="basis-full flex">
              <%= yield %>
              <div class="mx-10 my-10 max-w-fit">
                <%= yield :right %>
              </div>
            </div>



        </main>
      </div>
    </div>
  </body>
</html>
