<%= turbo_frame_tag dom_id(account), class: "table-row even:bg-blue-100" do %>

  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= account.bank %>
  </div>

  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= account.name %>
  </div>
  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= account.number %>
  </div>
  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= account.has_checking %>
  </div>
  <div class="table-cell overflow-y-scroll px-2 py-1" >
    <%= account.in_menu %>
  </div>
  <div class="table-cell">
    <%= link_to 'Show', url_for(account), data: {turbo_frame: "_top"}, class: "btn-small"%>
  </div>
  <div class="table-cell">
    <%= link_to 'Edit', url_for([:edit, account]), class: "btn-small"%>
  </div>
  <div class="table-cell">
   <%= link_to 'Delete', url_for(account), method: :delete,  data: {turbo_frame: "_top",  turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-small" %>
  </div>
  <%= render partial: "shared/flash" %>
<% end %>
