<%=turbo_frame_tag dom_id(account), class: "contents" do %>
<%= form_with(model: account, class: "table-row contents") do |form| %>
<div class="table-cell">
  <%= form.text_field :bank, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>
<div class="table-cell">
  <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="table-cell">
  <%= form.text_field :number, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
</div>

<div class="table-cell">
  <%= form.check_box :has_checking, class: "block mt-2 h-5 w-5" %>
</div>
<div class="table-cell">
  <%= form.check_box :in_menu, class: "block mt-2 h-5 w-5" %>
</div>

<div class="table-cell">
  <%= form.submit "Save", class: "btn-small" %>
</div>
<div class="table-cell">
  <%= link_to "Cancel", request.referrer, data: { turbo_frame: "_top"}, class: "btn-small" %>
</div>
<% end %> <!-- form_with -->
<%= render partial: "shared/errors", locals: {errors: account.errors}%>
<% end %>
