<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title do %>
    Accounts
  <% end %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Accounts</h1>
  </div>
  <%= turbo_frame_tag "new_btn" do %>
  <%= link_to 'New', new_account_path, data: {turbo_frame: "new_account"}, class: "btn-small text-right" %>
<% end %>
<%= render partial: "table", :locals => {accounts: @accounts, pagy: @pagy} %>
<% content_for :right do %>
  <div>
    <%= render :partial => '/shared/filters', :locals => {model: Account} %>
  </div>
<% end %>
</div>
