<div class="w-full">

  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title do %> <%= @account.name %> <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= @account.name %></h1>
  </div>

  <div class='my-4'>
    <%= link_to 'New', new_entry_path(:account_id => @account.id), data: {turbo_frame: "_top", account:@account}, class: "btn-primary" %>
  </div>
  <%= render "/entries/table", records: @entries, display_columns: EntriesController.new.display_columns %>


  <% content_for :right do %>

    <div>
       <%= render :partial => '/entries/filters', :locals => {url: account_path(@account)} %>
    </div>
  <% end %>
</div>
